@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk&display=swap');

:root{
	/* colors */
	--background-color:beige;
	--text-color:#121212;

	/* typefaces */
	--font-family:"Space Grotesk",serif;
	--nav-font-size:1rem;
	--h1-font-size:1rem;
}
body{
	background-color: var(--background-color);
}

h1{
	font-family:var(--font-family);
	font-size:4rem;
	color:#121212;
	margin:1.5rem;
}
h2{
	background-color:white;
	padding:1.2rem;
	border-radius:5px;
	outline-style:solid;
	outline-color:#121212;

.sticky-header{
	position:sticky;
}
}

.heading-art{
	font-family:'Space Grotesk', serif;
}

p{
	font-family:"Roboto Mono", monospace;
	font-size:1rem;
	line-height:1.8rem;
	margin-left:1.5rem;
	margin-right:0.6rem;
	
}

/* header */
.header{
	font-family:var(--font-family);
	font-size:var(--nav-font-size);
	margin:2rem;
	display:flex;
	justify-content:space-between;
	flex-direction:row;
	text-transform: uppercase;
}
/* inside header */
.project{
	font-weight:bolder;
	color:#0e8daf;
	text-decoration:underline;
}

/* NAV BAR */
.nav-container {
	overflow: hidden;
	display: flex;
	position: fixed;
	bottom: 0;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	background-color:white;
	outline-style:solid;
	outline-color:#121212;
	border-radius:4px;
}

.nav-item {
	background-color: white;
	justify-content: center;
	padding:1rem;
	text-align: center;
	font-size:1.3rem;
}

.article-info{
	display: flex;
	flex-direction:row;
	font-family:"nunito",sans-serif;
}

.layout{
	display:flex;
	display:column;
}
/* table content */
details{ 
	margin:1rem;
	background-color:#0e8daf;
	color:white;
	padding:1rem;
	border-radius:5px;
	font-family: 'Space Grotesk', serif;
	margin:1.5rem;
	height: 1.5rem;
} 

blockquote{
	background-color:white;
	/* padding:0.3rem; */
	border-left:8px solid rgba(218, 102, 123, 1);
	border-radius:5px;
	max-width:45rem;
}

.quotes {
	padding-top: 0;

}

blockquote:hover{
	background-color:white;
	padding:0.3rem;
	border-left:8px solid #52b9d5 ;
	border-radius:5px;
	transition:0.5s;
	rotate:2deg;
}

blockquote p{
	transition:0.5s;
}

blockquote p:hover{
	background-color:white;
	color:black;
	rotate:2deg;
}

blockquote:hover .quote-popup{
	background-color:black;
}

.button-one {
		background-color: white; 
		color: black; 
		border: 2px solid #04AA6D;
	}
	
	.button-one:hover {
		background-color: #04AA6D;
		color: white;
	}

.sticky-aside {
	background-color: white;
	color: black;
	position: sticky;
	max-width: 20rem;
	margin-left: 2rem;
	margin-right: 2rem;
	padding-bottom: 1.5rem;
	border-radius: 1rem;
	border: solid 1px black;
}


@media (min-width:650px){
	h1{
		font-size:9.5rem;
		line-height:9rem;	
	}
	

	/* aside{
		display: flex;
		flex-direction:row;
	} */
}
	
@media (min-width:1024px){

h1{
	font-size:9.5rem;
	line-height:9rem;	
	border-bottom:8rem;
}

p{
	margin:2rem;
	max-width:40rem;
}

.sticky-aside {
	background-color: white;
	color: black;
	position: sticky;
	max-width: 20rem;
	margin-left: 3rem;
	margin-right: 2rem;
	padding-bottom: 1.5rem;
	border-radius: 1rem;
	border: solid 1px black;
}
}