
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk&display=swap');


.nav{
	font-family:'Space Grotesk', serif;
	font-size:1.4rem;
	display:flex;
	justify-content:space-between;
	align-items: center;
	flex-direction:row;
	text-transform: uppercase;
}

header nav{
	margin: 
	padding:16px;
}

h1{
	font-family:'Space Grotesk', serif;
	font-size:2rem;
	text-align: left;
}

@media (min-width:400px){

h1{
	padding:2rem;
	font-size:5rem;
}
.nav{
	font-family:'Space Grotesk', serif;
	font-size:1.1rem;
	display:flex;
	justify-content:space-between;
	align-items: center;
	flex-direction:row;
	text-transform: uppercase;
}