@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk&display=swap');


:root{
	/* colors */
	--background-color:beige;
	--text-color:#121212;
	--h2-font-color:#121212; 

	/* typefaces */
	--font-family:"Space Grotesk",serif;
	--nav-font-size:1.5rem;
	--h1-font-size:1rem;
}

*{
	background-color:beige;
}

/* heading */
h1{
	font-size:9rem;
	margin-top:10rem;
	margin-bottom:3rem;
}
.nav{
	font-family:var(--font-family);
	font-size:var(--nav-font-size);
	margin:2rem;
	display:flex;
	justify-content:space-between;
	flex-direction:row;
	text-transform: uppercase;
}

article{
	background: linear-gradient(270deg, #b2e4f7, #f3ccf7);

	-webkit-animation: background-color 2s ease infinite;
	-moz-animation: background-color 2s ease infinite;
	animation: background-color 2s ease infinite;
}

	@-webkit-keyframes background-color {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
	}
@-moz-keyframes background-color {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

@keyframes background-color {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

body {
	margin: 0;
	height: 100vh;
}

.title{
	font-family:"poppins", sans-serif;
	color: #3c3c3c;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	flex-direction: column;
}

@keyframes textShine {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

h1 {
	font-family:"poppins",sans-serif;
	font-size:8rem;
	padding-left:3rem;
	font-size: clamp(2.8rem, 1.5vw, 3rem);
	background: linear-gradient(
	  to right,
	  #7953cd 20%,
	  #00affa 30%,
	  #0190cd 70%,
	  #764ada 80%
	);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	background-size: 500% auto;
	animation: textShine 5s ease-in-out infinite alternate;
}

/* nav-bar */

#title{
	font-family:"Honk", serif;
	font-size:10rem;
}

/* nav bar */

.article-info{
	display: flex;
	flex-direction:row;
	font-family:"nunito",sans-serif;
	font-size:1.5rem;
	padding:3rem;
	gap:3rem;
}

.article-info>*>*{
	margin-top:0.5rem;
	margin-bottom:0.5rem;
}

.article-author{
	display:flex;
	flex-direction:column;
}

.original-text{
	display:flex;
	flex-direction:column;
}

#author-name{
	font-weight:500;
}

#article-link{
	font-weight:500;
}

.section-header{
	position:sticky;
	top: 0;
	padding:2rem;
	background-color:white;
	color:#121212;
}
.emphasis-word{
	background-color:yellow;
	opacity: 70%;
	border-radius:1rem;
}

.emphasis-paragraphs{
	margin-left:13rem;
	max-width:47rem;
}

p{
	font-family:"nunito",sans-serif;
	margin:3rem;
}


#gradient-box{
	background-image:linear-gradient(#FF72EA,#1D85F5);
	width:54rem;
	height: 40rem;
	margin-left:3rem;
}
.quote-popup{
	position:sticky;
	top:0%;
	height:100vh;
	left:0;
	width:100vw;
	background-color:transparent;
	z-index:-2;
	transition:0.5s;
}

@media (min-width:1000px){
.nav{
	font-family:"Space Grotesk",serif;
	font-size:1rem;
	margin:2rem;
	display:flex;
	justify-content:space-between;
	flex-direction:row;
	text-transform: uppercase;
}

.article-info{
	font-size:
}