
/* font-face */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet"');

:root{
	--font-family:'Poppins', sans-serif;
	--spacing:20px;
	--heading-one:3rem;
}

/* general styles */
body{
	background-color: black;
	color: black;
	margin:auto;
}

	/* headings */
	h1{
	font-family: var(--font-family);
	font-size: var(--heading-one);
		font-weight:bolder;
		color:white;
	}

	h2{
		font-family:'poppins', sans-serif;
		font-size:30px;
		max-width:35rem;
		font-weight:bold;
	}
header{
	background-color: black;
	padding:3rem;
}

nav{
	position:sticky;
	top:0;
	font-family:'poppins';
	font-weight:500px;
	line-height: 50px;
	background-color: white;
	color:black;
	margin-left;
	z-index:1; 
	padding-left:1.5rem;
	padding-right:1.5rem;
}

.left-nav{
	display:inline;
}

.right-nav{
	display:inline;
	float:right;
	background-color:white;
	color:black;
}

.right-nav ul{
	display:none;
}

.right-nav, .right-nav ul{
	list-style-type: style none;
	background-color:white;
	color:black;
}

.right-nav li{
	float: left;
	position: relative;
	width:100%;
}

.right-nav ul{
	position: absolute;
	display:none;
	width:100%;
}

.right-nav ul li{
	float:none;
}

.right-nav a:link, .right-nav a:visited {
	display: block;
	font-family: 'poppins', sans-serif;
	font-size: 0.75em;
	text-align: left;
	text-decoration: none;
	color: #000;
	}

.right-nav li:hover {
	background-color:grey;
	}

.right-nav li:hover ul{
	display: block;
}


.cardlink-container{
	display:grid;
	grid-template-rows: 1fr 1fr 1fr;
	gap:2rem;
	margin:auto;
	padding:2rem;
	background-color:black;
}
.cardlink{
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr 3fr 1fr;
	background-color:white;
	padding:0.5rem;
	height:15rem;
}

.cardlink:nth-child(1){
	background-color:greenyellow;
}
.cardlink:nth-child(2){
	background-color:blue;
}

.cardlink-item1{
	grid-row:1;
	text-align:right;
}
.cardlink-item2{
	grid-row:2;
}


/* .dropdown-content a{
	display: block;
}

.dropdown{
	position:relative;
	display:inline-block;
}

.dropdown-content a:first-child:hover{
	background-color:greenyellow;
} */

.intro{
	color:white;
	padding-bottom:5rem;
}


/* cards */
.cards{
	display: flex;
	flex-direction:row;
	gap:1rem;
	padding-bottom:20rem;
}

.card-1, .card-2, .card-3{
	position:relative;
	border-radius:0.5rem;
	min-width:18rem;
	max-width: none;
}

.card-content{
	padding-top:70px;
	padding-left:30px;
	padding-bottom:30px;
}


mobile media query 
@media (min-width:400px){
	
	

	.intro{
		padding-top:3rem;
		font-size:1rem;
		line-height:1.5rem;
	}
	

.cards{
	display: flex;
	flex-direction:column;
	padding:2rem;
	background-color:black;
}

.card-content{
	padding-left:1.5rem;
	padding-right:1.5rem;
	padding-bottom:1.3rem;
	}

footer{
	color:white;
}
@media (min-width:950px){

	.cards{
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
		/* flex-direction:column;	 */
		justify-content: space-between;
	}


@media (min-width:1000px){
	
	body{
		background-color:black;
	}
	
	h1{
		font-family:'poppins', sans-serif;
		font-weight:bolder;
		font-size:10rem;
		max-width:30rem;
	}

	footer{
		padding-left:3rem;
	}

	li a {
		padding:0.9rem;
		padding-top:0px;
		padding-bottom:0px;
	}
	.intro{
		font-size:1.2rem;
		line-height:1.5rem;
		max-width:50rem;
	}

	.cards{
		flex-direction:row;
		gap:2rem;
		padding:5vh;
		justify-content:center;
	}
	.dropdown-button:hover{
		cursor: pointer;
		opacity:50%;
	}

	.left-nav{
		display:inline;
		margin-left:1.5rem;
	}
	
	.right-nav, .right-nav ul{
		list-style-type: style none;
		background-color:white;
		color:black;
	}
	
	.right-nav li{
		float: left;
		position: relative;
		width:100%;
	}

	.right-nav ul{
		position: absolute;
		display:none;
		width:100%;
	}

	.right-nav ul li{
		float:none;
	}

	.right-nav a:link, .right-nav a:visited {
		display: block;
		font-family: 'poppins', sans-serif;
		font-size: 0.75em;
		text-align: left;
		text-decoration: none;
		color: #000;
		}

	.right-nav li:hover {
		background-color:grey;
		}

	.right-nav li:hover ul{
		display: block;
	}

	.cardlink-container{
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap:2rem;
		margin:auto;
		padding:2rem;
	}

	.cardlink:nth-child(2){
		background-color:rgb(255, 47, 193);
	}
	
	.cardlink:nth-child(3){
		background:rgb(153, 153, 252);
	}
	
	/* .dropdown-content a{
		color:black;
		display:block;
	}

	.dropdown-content a:hover {background-color:greenyellow}

	.dropdown:hover .dropdown-content{
		display: block;
	} */
}