
:root{
	--font-family-homepage:'Space Grotesk', serif;
	--font-paragraph:font-family: "Roboto Mono", monospace;

	/* font sizes */
	--h1:font-size:5rem;

	/* colors */
	--background-color:beige;
	--text-color:#121212;
}


/* general styles */
body{
	background-color: var(--background-color);
	color: var(--text-color);
	margin:auto;
}

h1{
	font-size:4rem;
	font-weight:bold;
}

h2{
	font-size:1.5rem;
	max-width:35rem;
	font-weight:bold;
}

nav{
	position:sticky;
	top:0;
	font-family:'poppins';
	font-weight:500px;
	line-height: 50px;
	background-color: beige;
	color:black;
	margin-left;
	z-index:1; 
	padding-left:1.5rem;
	padding-right:1.5rem;
}

.intro{
	font-family:"Roboto Mono", monospace;
	font-size:1.1rem;
	line-height:2rem;
	background-color:white;
	color:#121212;
	outline-style:solid;
	outline-color:#121212;
	border-radius:1rem;
	padding:1rem;
	margin:2rem;
}

.author{
	font-size:1rem;
}
.left-nav{
	display:inline;
}

.right-nav{
	display:inline;
	float:right;
	background-color:white;
	color:black;
}

.right-nav ul{
	display:none;
}

.right-nav, .right-nav ul{
	list-style-type: style none;
	background-color:white;
	color:black;
}

.right-nav li{
	float: left;
	position: relative;
	width:100%;
}

.right-nav ul{
	position: absolute;
	display:none;
	width:100%;
}

.right-nav ul li{
	float:none;
}

.right-nav a:link, .right-nav a:visited {
	display: block;
	font-family: 'poppins', sans-serif;
	font-size: 0.75em;
	text-align: left;
	text-decoration: none;
	color: #000;
	}

.right-nav li:hover {
	background-color:grey;
	}

.right-nav li:hover ul{
	display: block;
}

/* cardlink */
.cardlink-container{
	display:grid;
	gap:2rem;
	margin:auto;
	padding:2rem;
	background-color: beige;
}

.cardlink{
	outline-style:solid;
	outline-color: #121212;
	border-radius:1rem;
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr 3fr 1fr;
	background-color:white;
	padding:0.5rem;
	height:15rem;
}


.cardlink-item1{
	grid-row:1;
	text-align:right;
}
.cardlink-item2{
	grid-row:2;
}


/* .dropdown-content a{
	display: block;
}

.dropdown{
	position:relative;
	display:inline-block;
}

.dropdown-content a:first-child:hover{
	background-color:greenyellow;
} */

/* cards */
.card-content{
	padding-left:1.5rem;
	padding-right:1.5rem;
	padding-bottom:1.3rem;
	}

footer{
	color:white;
}
@media (min-width:950px){

	.cards{
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
		/* flex-direction:column;	 */
		justify-content: space-between;
	}


@media (min-width:1280px){
	
	body{
		background-color:beige;
	}
	
	h1{
		font-family:"Space Grotesk", serif;
		font-weight:bold;
		font-size:8rem;
		color:#121212;
		padding-top:2rem;
		padding-bottom:4rem;
		margin-left:2rem;
	}

	h2{
		font-family:"Space Grotesk", serif;
		font-size:1.5rem;
		font: weight 800;
		margin-left:2rem;	
	}

	h3{
		font-family:var(--font-family-homepage);
		font-size:2rem;
	}
	footer{
		padding-left:3rem;
	}

	li a {
		padding:0.9rem;
		padding-top:0px;
		padding-bottom:0px;
	}

	.intro{
		font-family:"Roboto Mono", monospace;
		font-size:1.1rem;
		line-height:2rem;
		color:#121212;
		max-width:900px;
		padding-top:2rem;
		padding-bottom:4rem;
	}

	.cards{
		flex-direction:row;
		gap:2rem;
		padding:5vh;
		justify-content:center;
	}
	.dropdown-button:hover{
		cursor: pointer;
		opacity:50%;
	}

	.left-nav{
		display:inline;
		margin-left:1.5rem;
	}
	
	.right-nav, .right-nav ul{
		list-style-type: style none;
		background-color:white;
		color:black;
	}
	
	.right-nav li{
		float: left;
		position: relative;
		width:100%;
	}

	.right-nav ul{
		position: absolute;
		display:none;
		width:100%;
	}

	.right-nav ul li{
		float:none;
	}

	.right-nav a:link, .right-nav a:visited {
		display: block;
		font-family: 'poppins', sans-serif;
		font-size: 0.75em;
		text-align: left;
		text-decoration: none;
		color: #000;
		}

	.right-nav li:hover {
		background-color:grey;
		}

	.right-nav li:hover ul{
		display: block;
	}

	.cardlink-container{
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap:2rem;
		margin-bottom:4rem;
		padding:2rem;
	}

	.cardlink{
			/* width: 250px; */
			height: 250px;
			background-color: rgba(255, 255, 255, 1);
			color: #000;
			border-radius: 10px;
			/* box-shadow: 0px 0px 0px 2px rgba(218,102,123,1),
		8px 8px 0px 0px rgba(218,102,123,1); */
	}

	#card1{
		background-color: rgba(255, 255, 255, 1);
			color: #000;
		border-radius: 10px;
			box-shadow: 0px 0px 0px 2px rgba(218,102,123,1),
			6px 6px 0px 0px rgba(218,102,123,1);
	}

	#card1:hover{
		border-radius: 10px;
			box-shadow: 0px 0px 0px 2px #04AA6D,
			6px 6px 0px 0px #04AA6D;
	}

	#colophon{
		background-color:white;
		outline-style:solid;
		outline-color:#121212;
		border-radius:1rem;
		margin:auto;
		padding:2rem;
		max-width:50rem;
	}
}

	

	/* .dropdown-content a{
		color:black;
		display:block;
	}

	.dropdown-content a:hover {background-color:greenyellow}

	.dropdown:hover .dropdown-content{
		display: block;
	} */
}