@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
	/* colors */
	--background-color:#fafaee;
	--text-color:#121212;

	/* main typefaces */
	--font-family-homepage:'Space Grotesk', serif;
	--font-paragraph:font-family: "Roboto Mono", monospace;

	/* font sizes */
	--h1:5rem;

	/* colors */
	--background-color:rgb(250, 250, 238);
	--text-color:#121212;
}

/* general styles */

body{
	background-color: var(--background-color);
	color: var(--text-color);
	margin:auto;
}

h1{
	font-family:var(--font-family-homepage);
	font-size:5rem;
	font-weight:bold;
	margin-left:2rem;
	margin-top:5rem;
}

h2{
	font-family:var(--font-family-homepage);
	font-size:4rem;
	margin-right:1rem;
	font-weight:bold;
	/* max-width:35rem; */
}

h3{
	font-size:1rem;
	line-height:1.8rem;
	padding:0.5rem;
}

h4{
	font-family:var(--font-family-homepage);
	font-size:1.8rem;
	margin-left:1rem;
	margin-top:1.5rem;
}


nav{
	position:sticky;
	top:0;
	font-family:'poppins';
	font-weight:500px;
	line-height: 50px;
	background-color: rgb(250, 250, 238);
	color:black;
	margin-left;
	z-index:1; 
	padding-left:1.5rem;
	padding-right:1.5rem;
}

p{
	font-family: var(--font-family-homepage);
	font-size:1.3rem;
	line-height:1.7rem;
}

p:nth-child(even){
	padding-top:2rem;
	padding-bottom:2rem;
}

/* hero section */
.header{
	font-family:var(--font-family-primary);
	font-size:var(--nav-font-size);
	padding-top:2rem;
	margin-left:2rem;
	margin-right:2rem;
	display:flex;
	justify-content:space-between;
	flex-direction:row;
	text-transform: uppercase;
	
}

/* top nav deskptop display */
.short-text { display:none;}
.full-text { display: inline-block;}

#sub-title{
	font-family:var(--font-family-homepage);
	font-size:1.5rem;
	margin-left:2rem;
}
#intro{
	font-family:"Roboto Mono", monospace;
	font-size:1.1rem;
	line-height:2rem;
	background-color:white;
	color:#121212;
	outline-style:solid;
	outline-color:#121212;
	border-radius:1rem;
	padding:1rem;
	margin:2rem;
}

.author{
	font-size:1.2rem;
	margin-top:-2rem;
	margin-bottom:1rem;
}
.left-nav{
	display:inline;
}

.right-nav{
	display:inline;
	float:right;
	background-color:white;
	color:black;
}

.right-nav ul{
	display:none;
}

.right-nav, .right-nav ul{
	list-style-type: style none;
	background-color:white;
	color:black;
}

.right-nav li{
	float: left;
	position: relative;
	width:100%;
}

.right-nav ul{
	position: absolute;
	display:none;
	width:100%;
}

.right-nav ul li{
	float:none;
}

.right-nav a:link, .right-nav a:visited {
	display: block;
	font-family: 'poppins', sans-serif;
	font-size: 0.75em;
	text-align: left;
	text-decoration: none;
	color: #000;
	}

.right-nav li:hover {
	background-color:grey;
	}

.right-nav li:hover ul{
	display: block;
}

/* cardlink */
.cardlink-container{
	display:grid;
	gap:2rem;
	margin:auto;
	padding:2rem;
	background-color: rgb(250, 250, 238);
}

.cardlink{
	outline-style:solid;
	outline-color: #121212;
	border-radius:1rem;
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr 3fr 1fr;
	background-color:white;
	padding:0.5rem;
	height:15rem;
}


.cardlink-item1{
	grid-row:1;
	text-align:right;
}

#article-01{
	background-color:#BDE662;
}

#article-02{
	background-color:#f5a3de;
}

#article-03{
	background-color:#BDE662;
}
]

/* .cardlink-item2{
	grid-row:2;
} */


/* .dropdown-content a{
	display: block;
}

.dropdown{
	position:relative;
	display:inline-block;
}

.dropdown-content a:first-child:hover{
	background-color:greenyellow;
} */

/* cards */
.card-content{
	padding-left:1.5rem;
	padding-right:1.5rem;
	padding-bottom:1.3rem;
	}

footer{
	color:white;
}

#colophon{
	background-color:white;
	outline: solid 2px var(--text-color);
	border-radius:1rem;
	padding:1.3rem;
	margin:2rem;
}

#colophon h3{
	font-family:var(--font-family-homepage);
	font-size:2rem;
}

@media (min-width:950px){

	.cards{
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
		/* flex-direction:column;	 */
		justify-content: space-between;
	}


@media (min-width:1280px){
	
	body{
		background-color:rgb(250, 250, 238);
	}
	
	h1{
		font-family:"Space Grotesk", serif;
		font-weight:bold;
		font-size:8rem;
		color:#121212;
		padding-top:2rem;
		padding-bottom:4rem;
		margin-left:2rem;
	}

	h2{
		font-family:"Space Grotesk", serif;
		font-size:1.5rem;
		font: weight 800;
		margin-left:2rem;	
	}

	h3{
		font-family:var(--font-family-homepage);
		font-size:2rem;
	}
	footer{
		padding-left:3rem;
	}

	li a {
		padding:0.9rem;
		padding-top:0px;
		padding-bottom:0px;
	}

	.intro{
		font-family:"Roboto Mono", monospace;
		font-size:1.1rem;
		line-height:2rem;
		color:#121212;
		max-width:900px;
		padding-top:2rem;
		padding-bottom:4rem;
	}

	.cards{
		flex-direction:row;
		gap:2rem;
		padding:5vh;
		justify-content:center;
	}
	.dropdown-button:hover{
		cursor: pointer;
		opacity:50%;
	}

	.left-nav{
		display:inline;
		margin-left:1.5rem;
	}
	
	.right-nav, .right-nav ul{
		list-style-type: style none;
		background-color:white;
		color:black;
	}
	
	.right-nav li{
		float: left;
		position: relative;
		width:100%;
	}

	.right-nav ul{
		position: absolute;
		display:none;
		width:100%;
	}

	.right-nav ul li{
		float:none;
	}

	.right-nav a:link, .right-nav a:visited {
		display: block;
		font-family: 'poppins', sans-serif;
		font-size: 0.75em;
		text-align: left;
		text-decoration: none;
		color: #000;
		}

	.right-nav li:hover {
		background-color:grey;
		}

	.right-nav li:hover ul{
		display: block;
	}

	.cardlink-container{
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap:2rem;
		margin-bottom:4rem;
		padding:2rem;
	}

	.cardlink{
			/* width: 250px; */
			height: 250px;
			color: #121212;
			border-radius:10px;
			/* box-shadow: 0px 0px 0px 2px rgba(218,102,123,1),
		8px 8px 0px 0px rgba(218,102,123,1); */
	}

	#card1{
		background-color: rgba(255, 255, 255, 1);
			color: #000;
		border-radius: 10px;
			box-shadow: 0px 0px 0px 2px #04AA6D,
			6px 6px 0px 0px #04AA6D;
	}

	#card1:hover{
		background-color:#04AA6D;
		color:white;
	}

	#card2{
		background-color: rgba(255, 255, 255, 1);
			color: #000;
		border-radius: 10px;
			box-shadow: 0px 0px 0px 2px #1242d2,
			6px 6px 0px 0px #1242d2;
	}

	#card2:hover{
		background-color:#1242d2;
		color:white;
	}

	#card3{
		background-color: rgba(255, 255, 255, 1);
		color: #000;
		border-radius: 10px;
			box-shadow: 0px 0px 0px 2px #ac0f58,
			6px 6px 0px 0px#ac0f58;
	}

	#card3:hover{
		background-color:#ac0f58;
		color:white;
	}
	
	


	






	#colophon{
		background-color:white;
		outline-style:solid;
		outline-color:#121212;
		border-radius:1rem;
		margin:auto;
		padding:2rem;
		max-width:50rem;
	}
}

	

	/* .dropdown-content a{
		color:black;
		display:block;
	}

	.dropdown-content a:hover {background-color:greenyellow}

	.dropdown:hover .dropdown-content{
		display: block;
	} */
}